<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>DUTY MUNSHI</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <nav class="nhome navbar navbar-default">
        <img class="sublogo" src="/images/logo.jpeg" alt="Nologofound!">
        <div class="flex-container">
            <div class="navbar-header"> 
                <p class="navbar-brand nmti">DUTY MUNSHI</p>
            </div>
            <ul class="nav navbar-nav navbar-right" style="margin:0 10px;">
                <!-- 6 -->
                <li id="/"><a href="/">HOME</a></li>
                <li id="navi"><a href="navi">SCHEDULES</a></li>
                <li id="about"><a href="/about">ABOUT US</a></li>
            </ul>
        </div>
    </nav>
</head>
<body id="home">
