<%- include('partials/header.ejs') -%>
<div class="container">
    <center>
       <h2> Kartik Gupta	9920103156</h2>
       <br>
       <h2>
        Rishabh Sharawat	9920103168</h2>
        <br>
        <h2>
            Nitin Goyal	9920103172</h2>
    </center>
</div>
<%- include('partials/footer.ejs') -%>