<%- include('partials/header.ejs') -%>
<center>
<div class="container" style="background-color: #9fc7aa; width: 25%; border-radius: 8px;">
    <h1>Hello <%= user %> </h1>
</div>
 <h1>Here they can upload the data through form or file</h1>
</center>
<%- include('partials/footer.ejs') -%>