<%- include('partials/headermain.ejs') -%>
<center>
<div >
    <img class="logo" src="/images/logo.jpeg" alt="logo">
</div>
<div class="login">
    <form class="login" action="/" method="post">
      <input class="form-control" aria-label="Large" type="text" placeholder="enter your id number" name="id" id="enroll" autofocus>
      <br>
      <button class="btn btn-lg" onclick="sendAjax()" >login</button>
    </form>
</div>
</center>
  
<script>
     function sendAjax(){
      console.log("hello");
      var enroll = document.getElementById("enroll").value;
      console.log(enroll);
      $.ajax({
        method:"POST",
        url:"/home",
        data:{enroll:enroll},
        success:function(data){ 
          console.log(data); 
        }
      });  
    };
</script>
</body>

