<%- include('partials/headermain.ejs') -%>
<center>
<div >
    <img class="logo" src="/images/logo.jpeg" alt="logo">
</div>
<div class="login">
    <form class="login" action="/" method="post">
      <input class="form-control" aria-label="Large" type="text" placeholder="enter your id number" id="NAME" name="id" autofocus>
      <br>
      <button class="btn btn-lg">login</button>
    </form>
</div>

</center>
