<div>
    <center>
         <h1 style="display: block; background-color:#9fc7aa;"> SCHEDULES</h1>
        <img src="/images/img.jpeg" alt="map">
        <h3>shedule will be show here of all the officers</h3>
    </center>
</div>